In [2]:
import pandas as pd

/tmp/ipykernel_48319/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
pd.__version__

'2.2.0'

In [5]:
df = pd.read_csv("yellow_tripdata_2021-01.csv.gz", nrows=120)

In [6]:
df.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [7]:
print(pd.io.sql.get_schema(df, name = "yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [10]:
from sqlalchemy import create_engine

In [12]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [9]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
print(pd.io.sql.get_schema(df, name = "yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [15]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv.gz", iterator=True, chunksize= 100000)

In [16]:
df = next(df_iter)

In [17]:
len(df)

100000

In [18]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [19]:
df.head(n=0).to_sql(name = "yellow_taxi_data", con=engine, if_exists= 'replace')

0

In [20]:
%time df.to_sql(name = "yellow_taxi_data", con=engine, if_exists= 'append')

CPU times: user 31.4 s, sys: 3.32 s, total: 34.7 s
Wall time: 53.7 s

1000

In [22]:
from time import time

In [23]:
while True:

    t_start = time()
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name = "yellow_taxi_data", con=engine, if_exists= 'append')

    t_end = time()
    print("inserted another chunk..., took %.3f seconds" %(t_start-t_end) )

inserted another chunk..., took -51.342 seconds
inserted another chunk..., took -38.694 seconds
inserted another chunk..., took -36.267 seconds
inserted another chunk..., took -41.199 seconds
inserted another chunk..., took -38.571 seconds
inserted another chunk..., took -24.311 seconds
inserted another chunk..., took -29.446 seconds
inserted another chunk..., took -29.215 seconds
inserted another chunk..., took -36.085 seconds
inserted another chunk..., took -35.229 seconds
inserted another chunk..., took -41.978 seconds

/tmp/ipykernel_48319/606795706.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took -58.303 seconds
inserted another chunk..., took -32.189 seconds

StopIteration: